#profile_form {
  width: 400px;
}

#profile_form .frame-header {
  margin-bottom: 15px;
}

#login, #phone, #birthday {
  width: 200px;
}

#password,
#confirm_password,
#first_name,
#last_name,
#e_mail,
#password_current {
  width: 390px;
}

#bottom_hr {
  margin-top: 20px;
}

#button_line {
  margin: 15px 0 10px;
}