#file {
  position: relative;
  top: 0;
  left: -5px;
  border: 1px solid red;
  width: 20px;
  height: 20px;
  filter:alpha(opacity=0);
  opacity: 0;
  margin: 0;
  padding: 0;
}

.d1 {
  position: relative;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  padding: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 1px solid blue;
  background-color: yellow;
  overflow: hidden;
}